.heading {
  line-height: 1.25;
}

.hero_container {
  perspective: 1400px;
}


.hero {
  transform: rotateX(20deg);
  box-shadow: 0 100px 80px rgba(0, 0, 0, .03), 0 41.7776px 33.4221px rgba(0, 0, 0, .022), 0 22.3363px 17.869px rgba(0, 0, 0, .018), 0 12.5216px 10.0172px rgba(0, 0, 0, .015), 0 6.6501px 5.3201px rgba(0, 0, 0, .012), 0 2.7673px 2.2138px rgba(0, 0, 0, .008);
}

.hero_active {
    opacity: 1;
    transform: none
}

.hero::after {
  content: "";
  display: block;
  padding-bottom: 57.333%;
  width: 100%;
}

.hero img {}